span {
  width: 1.7%;
  padding-bottom: 1.7%;
  margin: 0.1%;
  display: inline-block;
  vertical-align: top;
}

div {
  width: 100%;
}

#main {
  width: 60%;
  margin: 0 auto;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
}
