span {
  width: 1.7%;
  padding-bottom: 1.7%;
  margin: 0.1%;
  display: inline-block;
  vertical-align: top;
}

div {
  width: 100%;
}

#main {
  width: 70%;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
}

canvas {
  max-width: 1750px;
  margin: 0 auto;
}
